<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Zilong Zhao</title>
  <meta name="description"
    content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="canonical" href="/">
  <link rel="alternate" type="application/rss+xml" title="Zilong Zhao" href="/feed.xml">

</head>

<style>
  table td {
    border: 0;
  }

  table {
    border: 0;
  }
</style>


<body>

  <header class="site-header" role="banner">

    <div class="wrapper">

      <a class="site-title" href="/">Zilong Zhao</a>

      <nav class="site-nav">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path fill="#424242"
              d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z" />
            <path fill="#424242"
              d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z" />
            <path fill="#424242"
              d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z" />
          </svg>
        </span>

        <div class="trigger">




          <a class="page-link" href="/pub/">Publications</a>






        </div>
      </nav>

    </div>

  </header>


  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">

        <table style="width:100%; margin-bottom: 50px">
          <tr>
            <td><img style="-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;"
                src="/misc/avatar.jpg" width="200"></td>
            <td style="text-align:center">
              <h1>Zilong Zhao</h1>
              <p>Postdoc <a href="/misc/CV_Zilong_Zhao_webpage.pdf">[CV]</a><br>
                Email: <a href="mailto:Z.Zhao-8@tudelft.nl?Subject=Via%20Homepage:">Z.Zhap-8@tudelft.nl</a><br>
                <a href="https://team-tud.github.io/DIS/"> Distributed Intelligent Systems Lab</a><br>
                <a href="http://www.eecs.mit.edu">Electronic Engineering and Computer Science</a><br>
                <a href="https://www.tudelft.nl/en/">Delft University of Technology</a><br>
                <a href="https://github.com/zhao-zilong"><img width="32px" height="32px"
                    src="/misc/github.png"></img></a>
                <a href="https://scholar.google.com/citations?user=Qwdt-dEAAAAJ&hl=en"><img width="32px" height="32px"
                    src="/misc/gscholar.png"></img></a>
              </p>
            </td>
          </tr>
        </table>

        <h1 class="page-heading" style="padding-top:3ex">About Me</h1>
        <div>
          <p>
            I'm a Postdoc in EECS at TU Delft since Jul. 2020,
            where I collaborate with Prof. Lydia Y. Chen.
            I did my PhD at GIPSA-lab of University of Grenbole Alpes between 2017 and 2020.
            I worked on integrating control theory into machine learning (ML) algorithm.
            Meanwhile, during the same period, I remotely served as a data engineer lead and data scientist
            for Miro Health (a San Francisco seed-round digital health start-up).
            I helped to optimize a speech recognition system into IOS system,
            use ML algorithms to analyze mild cognitive impairment (MCI) patients' data. I also represented Miro Health
            to research with John Hopkins University,
            University of Pennsylvania, and UCLA.
            <br>
            <br>
            My current research is focused on Generative Adversarial Networks (GANs) for tabular data and training
            GANs in privacy-preserving environments. I am currently in charge of a pioneer research collaboration
            between our group and Tampere University. Our goal is to use GANs to learn and generate molecules under
            specific conditions.

        </div>


        <h1 class="page-heading" style="padding-top:3ex">Experiences</h1>
        <ul>
          <li><a href="https://www.mirohealth.app">Miro Health</a>: Data Engineer Lead (2018/03~2020/07, San Francisco, USA (Remote))</li>
          <li><a href="https://www.viseo.com/en/emea">VISEO</a>: Software Engineer Intern (2017/05~2017/09, Grenoble, France)</li>
          <li>UFRGS: Research Intern (2016/03~2016/08, Porto Alegre, Brazil)</li>
        </ul>

        <h1 class="page-heading" style="padding-top:3ex">TPC</h1>
        <ul>
          <li>The IEEE International Conference on Cloud Engineering (IC2E) conference 2021</li>
          <li>The IEEE/ACM International Conference on Big Data Computing, Applications and Technologies 2021</li>
        </ul>

        <h1 class="page-heading" style="padding-top:3ex">Reviewers</h1>
        <ul>
          <li>ACM Symposium on Cloud Computing (SoCC) 2020&2021, Middleware 2019&2021, International World Wide Web
            conference (WWW) 2020, International Parallel and Distributed Processing Symposium (IPDPS) 2020, 21st
            (International Federation of Automatic Control) IFAC World Congress (IFAC) 2020. IJCAI 2020. IEEE
            Transactions on Dependable and Secure Computing (TDSC).</li>
        </ul>

        <h1 class="page-heading" style="padding-top:3ex">News</h1>

        We are happy to announce that <a href="https://generatrix.ai"> Generatrix</a> enters the Semi-Final of The European Social Innovation Competition! (On-going) 

        <table>
          <tbody>
            <tr>
              <td style="width: 400px;">
                <img src="misc/eusic.jpeg" width="100%">
              </td>
              <br>
              <br>
              <td style="vertical-align:top">
                <span class="post-meta">Aug. 16, 2021</span>
                <h3>
                  <a class="post-link"
                    href="https://www.linkedin.com/feed/update/urn%3Ali%3Aactivity%3A6831859439780425728/?actorCompanyId=71902090">Check
                    here.</a>
                </h3>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p> -->

      </div>

    </div>
  </main>

  <footer class="site-footer">

    <div class="wrapper">

      <!-- <h2 class="footer-heading">Your awesome title</h2> -->

      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li>

              Zilong Zhao

            </li>

            <li><a href="mailto:your-email@example.com">Z.Zhao-8@tudelft.nl</a></li>

          </ul>
        </div>

        <div class="footer-col footer-col-2">
          <ul class="social-media-list">


          </ul>
        </div>

        <div class="footer-col footer-col-3">
          <p>Last Update: Aug. 16, 2021.</p>
        </div>
      </div>

    </div>

  </footer>


</body>

</html>